body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .header {
         margin: 0 1em 0 1em;
         color: white; font: bold 24px Helvetica, Arial, Sans-Serif;
		     text-shadow: 1px 1px #02a2fe, 2px 2px #02a2fe, 3px 3px #02a2fe;
		     -webkit-transition: all 0.12s ease-out;
		     -moz-transition: all 0.12s ease-out;
		     -o-transition: all 0.12s ease-out;
  }
  
  .header a {
         margin: 0 1em 0 1em;
         color: white; font: bold 24px Helvetica, Arial, Sans-Serif;
		     text-shadow: 1px 1px #02a2fe, 2px 2px #02a2fe, 3px 3px #02a2fe;
		     -webkit-transition: all 0.12s ease-out;
		     -moz-transition: all 0.12s ease-out;
		     -o-transition: all 0.12s ease-out;
  }
  a:hover {
    text-shadow: 1px 1px #02a2fe, 2px 2px #02a2fe, 3px 3px #02a2fe, 4px 4px #02a2fe, 5px 5px #02a2fe, 6px 6px #02a2fe;
}
  
  .content {
    margin-left: 2em;
    font-size: 1.5em;
  }
  
  .message {
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #ffffff;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(135deg, #cc0000, #cc0066);
  }