body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .header {
    margin: 2em 0 2em 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid;
  }
  
  .header a {
    margin: 0 1em 0 1em;
    font-size: 1.2em;
    text-decoration: none;
  }
  
  .content {
    margin-left: 2em;
    font-size: 1.5em;
  }
  
  .message {
    color: red;
    font-size: 0.7em;
  
  }

  #display_image{
    width: 375px;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }